[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
twitchio = "*"
nest-asyncio = "*"
setuptools = "*"
ginza = "*"
torch = {file = "https://download.pytorch.org/whl/cu111/torch-1.8.1%2Bcu111-cp38-cp38-linux_x86_64.whl"}
transformers = "==4.8.1"
torchtext = "*"
pandas = "*"
scikit-learn = "*"
ja-ginza = "*"
neologdn = "*"
mecab-python3 = "*"
wakame = "*"
beautifulsoup4 = "*"
sentence-transformers = "==2.1.0"
install = "*"
fugashi = "*"
ipadic = "*"
bottle = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
